
.brand-name{
    align-items:center ;
    text-align: center;
    padding: 15PX;
    margin-bottom: 3px;
}



/* ................img slide pragph ..........................  */
.text-up{
    
    margin-right: 60px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

/* SLIDER IMG SIZE .........................  */
.IMG-SIZE{
    height: 420px;
    width: 100%;
}
/* ...........................................  */
.custom-button{
    border-radius: 15px;
    background-color: #3F87F5 ;
    color:white ;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    padding: 9px 25px;
    transition: all 0.3s linear;
}

.custom-button:hover{
    color: black;
}

/* ........Our package position.........  */
.custom-center{
    
    margin-bottom: 70px;
    margin-top: 90px;
}

/* /................check icon.............  */
.far{
    color: rgb(190, 188, 188);
}

/* APPLE AND ANDROID...................  */

    .apple-android{
        Width :135px;
        Height: 40px;
    }

    .main-app-and{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .apple-androd-img{
        border: 2px solid white;
    }











